
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Klee One', cursive;
    margin: 0;
}


body {
    background: #F0C27B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

.logo {
   text-align: center;
}

.title {
    background-image: url(./Img/library.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    padding: 1em;
    color: white;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1em;
    text-shadow: 3px 3px black;
}

.container {
    background-color: rgba(206, 186, 224, 0.452);
    max-width: 90%;
    padding: 2em;
    margin: 0 auto;
    text-align: center;
}

.albumForm {
    background-color: rgba(255, 255, 255, 0.918);
    padding: 2em 2em;
    max-width: 90%;
    margin: 1em auto;
}

.inputLabel {
   font-size: 1.5rem;
}

.albumForm > input {
    max-width: 90%;
    border: 1px solid #4B1248;
}

.btn {
    background-color: #4B1248;
    color: white;
    font-size: 1rem;
    border-radius: 1em;
    padding: 0.5em 1em;
    margin: 1em 0 0 1em;
    transition: all 1s;
    border: 1px solid white;
    border-radius: 1em;
}

.btn:focus, 
.btn:hover {
    transform: scale(1.1);
}

img {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.363);
}

.lib-title {
    color: white;
    text-align: center;
    text-decoration: underline;
    margin: 1em;
    margin-bottom: 0.5em;
    text-shadow: 3px 2px  rgba(0, 0, 0, 0.363);
}

.library {
    max-width: 95%;
    margin: 0 auto;
    
}

.album {
    margin: 1em;
    padding: 1em;
    text-align: center;
}

.displayImg {
    max-width: 90%;
    min-height: 250px;
    object-fit: cover;
}

.album > h2 {
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0.5em 0;   
}

.remove {
    margin: 1em 0 0 0.5em;
    color: white;
    text-shadow: 1px 1px black;
    background-color: #ac1f1f;
}

.albumLink {

    color: #4B1248;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5em 1em;
    background-color: white;
    border: 1px solid white;
    border-radius: 1em;
}

.empty {
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.libraryImg {
    max-width: 90%;
}

/* Media querys */

@media (min-width: 580px) {
    body {
        min-height: 100vh;
    }

    .displayImg {
        max-width: 30%;
    }

    .container {
        max-width: 65%;
    }

    .title {
        padding: 1.5em;
        text-shadow: 3px 3px black;
    }

    .lib-title {
        font-size: 2.5rem;
    }

    .library {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

